*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* variables */

:root {
  --primary-color: #0a9c6f;
  --grey-900: #0d1919;
  --grey-700: #1f2c34;
  --grey-300: #fefff6;
  --grey-200: #f1f2f6;
  --green-400: #138b80;
  --green-300: #2dca7a;
  --green-100: #dcf8c6;

  --primary-font: "roboto", "sans-serif";
}
body{
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    width: 85%;
    height: 95%;
    display: grid;
    grid-template-columns: 320px 1fr;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 100px -50px var(--grey-900);

}

aside{
    background-color:var(--grey-900);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
aside header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--grey-900);
    box-shadow: 1px -30px 30px 1px whitesmoke;

}
.image-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.title-profile{
    font-size: 1em;
}

.image-name img{
    width: 50px;
    border-radius: 50%;
}

.childrem svg{
    width: 20px;
    /* color al svg: */
    stroke: #6f767b; 
    transition: transform ease .2s;
}
.childrem svg:hover {
    transform: translateY(-3px);
    cursor: pointer;
}
.actions{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.actions button{
    text-align: center;
    background-color: transparent;
    border: none;
}
.input-search form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-search form input{
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: none;
    margin: 10px;
    background-color: var(--grey-700);
    color: whitesmoke;
    outline: none;
    border-radius: 10px;
}
.container-chats{
    overflow: scroll;
}

.container-chats ul{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.user-chat{
    display: flex;
    gap: 15px;
    padding: 10px 15px 10px 15px;
    transition: background-color, border .2s;
    border: 3px solid transparent;
}
.user-chat img{
    width: 60px;
    border-radius: 50%;
}
.user-chat:hover{
    border-left:  3px solid var(--green-300);
    background-color: #101c1c;
    cursor: pointer;
}
.chat-title{
    font-size: 15px;
}

.chat-description{
    color: #6f767b;
}
.info-chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.user-chat img{
    transition: opacity ease .3s;
}
.user-chat img:hover{
    opacity: .7;
}



/* VENTANA DE CHAT */

.chat-panel{
    background-color: var(--grey-300);
    overflow: hidden;
    display: grid;
    grid-template-rows: 70px 1fr 60px;
}
.chat-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-shadow: 0px 0px 4px 0px #6f767b;
    background-color: var(--grey-200);

}
.chat-header h3{
    font-size: 1em;
}
.chat-header p{
    font-size: .7em;
    color: #6f767b;
}
.chat-header img{
    width: 50px;
    border-radius: 50%;
}

.messages{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    padding: 20px;
}

.message{
    background-color: #dcf8c6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    gap: 5px;
    box-shadow: 0px 0px 10px -5px #6f767b;
    padding: 10px;
    border-radius: 10px;
   
}
.time{
    align-self: flex-end;
    font-size: .8em;
    color: #6f767b;
}

.you{
    align-items: flex-start;
    background-color: var(--grey-300);
}
.me{
    align-self: flex-end;
}


footer{
    height: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    background-color: var(--grey-200);
    padding: 0px 10px 0px 10px;
    align-items: center;
    gap: 5px;

}
footer button{
    height: 70%;
    border: none;
    border-radius: 30px;
    transition: opacity ease .2s;
}
footer button:hover{
    opacity: .6;
    cursor: pointer;
}
footer button svg{
    width: 22px;
}
footer form{
    height: 70%;
}
footer form textarea{
    resize: none;
    width:100%;
    height: 100%;
    padding: 10px;
    border: none;
    display: flex;
    background-color: var(--grey-300);
    border-radius: 30px;
    outline: none;
    font-size: 1em;
}

.send{
    background-color: var(--green-400);
}


/* responsive */
@media (max-width: 888px){
    .app{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 747px){
    body{
        padding: 0;
    }
    .app{
        grid-template-columns: 1fr;
        grid-template-rows: 50%;
        border-radius: 0px;
    }
}